# reference materials
/references/

# temporary files
/temp/
/MUJOCO_LOG.TXT

# archive files
*.zip

# local build output
/build/
/build-*/
/out/
/.vs/
/.vscode/
/third_party/

# Python cache
__pycache__/
*.py[cod]
